<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <environment names="Development">
        <!-- Compiled and minified CSS -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.0/animate.min.css">
        <!-- Compiled and minified JavaScript -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

    </environment>
</head>
<body>
    <nav class="navbar navbar-inverse navbar-fixed-top  red darken-4 white-text ">
    

        <div class="container-fluid">
            <div class="navbar-header">
                @Html.ActionLink("Dummy College", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <ul class="nav navbar-nav">
                <li>@Html.ActionLink("Home", "Index", "Home")</li>
                <li>@Html.ActionLink("See Result", "Index", "ViewMark")</li>
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">ADMIN Control <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li>@Html.ActionLink("Student", "Index", "Students")</li>
                        <li>@Html.ActionLink("Mark", "Index", "Marks")</li>
                        <li>@Html.ActionLink("Branch", "Index", "Branches")</li>
                        <li>@Html.ActionLink("Courses", "Index", "Courses")</li>
                    </ul>
                </li>
                <li>@Html.ActionLink("About", "About", "Home")</li>
                <li>@Html.ActionLink("Contact Us", "Form", "Email")</li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                @Html.Partial("_LoginPartial")
            </ul>
        </div>
</nav>
<div class="container body-content cyan lighten-5">
            @RenderBody()
            <hr />
            <footer>
                <p>&copy; @DateTime.Now.Year - Dummy College Application</p>
            </footer>
        </div>

        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")
        @RenderSection("scripts", required: false)
</body>
</html>
